@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  line-height: 1.4rem;
  overflow-x: hidden;
}

@media (min-width: 64em) {
  body {
    font-size: 1.125rem;
  }
}

.sticky {
  position: fixed !important;
  top: 0;
  width: 100%;
}

h1,
h2,
h3 {
  margin-top: 0;
  line-height: 1.4;
}

h1 {
  font-size: 2.31rem;
  margin-bottom: 1.5;
}

@media (min-width: 64em) {
  h1 {
    font-size: 1.25rem;
  }
}

h2 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1.5625rem;
}

@media (min-width: 64em) {
  h2 {
    font-size: 2.2rem;
  }
}

p {
  line-height: 1.5rem;
  margin-bottom: 2.25rem;
  color: #252525;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

section {
  padding-inline: 1rem;
  margin-block: 1.5rem;
  display: grid;
}

section .action-button {
  justify-self: center;
}

.text-center {
  text-align: center;
}

.text-dark {
  color: #000 !important;
}

.text-blue {
  color: #182f59 !important;
}

.text-green {
  color: #25c12d !important;
}

.text-dark {
  color: #000 !important;
}

.text-white {
  color: #dddddd !important;
}

.text-green {
  color: #25c12d;
}

img {
  width: 70%;
}

hr {
  margin-block: 1.5rem;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.38);
}

.blue-background-banner {
  background-color: #182f59 !important;
  color: #dddddd !important;
}

.blue-background-banner h2 {
  color: #dddddd !important;
}

.blue-background-banner p {
  color: #dddddd;
}

.blue-background-banner .action-button {
  color: #000080;
  background-color: #dddddd;
  transition: hover 1s;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.2) 100%);
}

.blue-background-banner .action-button:hover {
  background-color: #e5e5e5 !important;
}

.container {
  max-width: 75rem;
  margin: auto;
}

.container--pall {
  padding-top: 1.375rem;
  padding-bottom: 1.375rem;
  padding-right: 2.25rem;
  padding-left: 2.25rem;
}

.container--py {
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
}

@media (min-width: 64em) {
  .container--py {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.container--px {
  padding-right: 2.25rem;
  padding-left: 2.25rem;
}

.container--pt {
  padding-top: 4.375rem;
}

@media (min-width: 64em) {
  .container--pt {
    padding-top: 6rem;
  }
}

.container--py-1 {
  padding-block: 1rem;
}

@media (min-width: 64em) {
  .container--py-1 {
    padding-block: 1.2rem;
  }
}

.container--pr {
  padding-right: 1.5rem;
}

.container--pl {
  padding-left: 1.5rem;
}

.container--pb {
  padding-bottom: 4.375rem;
}

@media (min-width: 64em) {
  .container--pb {
    padding-bottom: 6rem;
  }
}

.text-calpitalize {
  text-transform: capitalize !important;
}

.font-bold {
  font-weight: 600 !important;
}

.align-self-start {
  align-self: start;
}

.w-100 {
  width: 100% !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.flex {
  display: flex;
}

.flex-jc-sb {
  justify-content: space-between;
}

.flex-jc-c {
  justify-content: center;
}

.flex-ai-c {
  align-items: center;
}

button,
.btn {
  border: 0;
  cursor: pointer;
  font-weight: 400;
}

@media (min-width: 40em) {
  button,
  .btn {
    font-weight: 600;
  }
}

.action-button {
  padding: 1rem 1.5rem;
  background-color: #25c12d;
  color: #dddddd;
  text-transform: uppercase;
  border-radius: 50px;
  font-size: 1.125rem;
  transition: all 1s;
}

.action-button i {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.2) 100%);
}

.action-button:hover {
  background-color: #1a861f !important;
}

.border-pill {
  border-radius: 50px !important;
}

.shadow-bottom {
  box-shadow: 0px 3px 5px 1px #1a861f;
}

@media (max-width: 39.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

nav {
  padding-top: 1rem;
}

nav .nav-header img {
  width: 100%;
}

@media (max-width: 39.9375em) {
  nav {
    display: grid !important;
    justify-content: center !important;
  }
}

.footer-content {
  display: grid;
  text-align: center;
  grid-gap: 1rem;
  margin-bottom: 1.5rem;
}

h2 {
  text-align: center;
  text-transform: uppercase;
}

h4 {
  font-weight: 400;
}

.divider {
  border-color: #25c32d;
  border-top-style: solid;
  border-top-width: 3px;
  margin: 0px auto 1.3rem;
  width: 25%;
}

.arrowDown {
  position: absolute;
  bottom: -10px;
  left: 40px;
  width: 20px;
  height: 20px;
  background: inherit;
  transform: rotate(45deg);
}

nav {
  padding-top: 1rem;
}

nav .nav-header img {
  width: 100%;
}

@media (max-width: 39.9375em) {
  nav {
    display: grid !important;
    justify-content: center !important;
  }
}

.jumbotron {
  background-image: url("../images/crypto_investigation.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  line-height: 1.125rem;
  margin-block-end: 1rem;
  color: #dddddd;
  margin-top: 0;
}

.jumbotron .container {
  position: relative;
  z-index: 1;
}

.jumbotron--content {
  padding-block-start: 2rem;
  padding-block-end: 3rem;
}

.jumbotron--content h2 {
  font-weight: 900;
  color: #dddddd;
}

@media (min-width: 40em) {
  .jumbotron--content h2 {
    font-size: 2.5rem;
    text-align: start;
  }
}

.jumbotron--content p {
  color: #dddddd;
  font-size: 1.8rem;
  line-height: 1.4;
}

.jumbotron--content small {
  font-weight: 500;
  font-size: .8rem;
}

@media (min-width: 64em) {
  .jumbotron--content {
    display: grid;
    grid-template-columns: 2fr 1.4fr;
    align-items: center;
    grid-gap: 1.5rem;
  }
}

.jumbotron--form h2 {
  font-size: 1.3rem;
  text-align: center;
  font-weight: 900;
}

@media (min-width: 40em) {
  .jumbotron--form h2 {
    font-size: 1.6rem;
  }
}

.partners {
  padding-block-start: 1rem;
}

.partners--container, .clients--container {
  display: grid;
  justify-content: center;
  grid-gap: 1.5rem;
}

@media (max-width: 63.9375em) {
  .partners--container, .clients--container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}

@media (min-width: 40em) {
  .partners--container, .clients--container {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }
}

@media (min-width: 64em) {
  .partners--container, .clients--container {
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
  }
}

.about img, .feature img {
  width: 100%;
}

.about li, .feature li {
  list-style: none;
  position: relative;
  font-size: 1.7rem;
  margin-bottom: 1.5rem;
}

.about li::before, .feature li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f058";
  font-size: 2rem;
  position: absolute;
  color: #25c12d;
  left: -42px;
  top: 0px;
}

.about--container, .feature--container {
  display: grid;
}

@media (min-width: 40em) {
  .about--container, .feature--container {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-gap: 3rem;
  }
  .about--container li, .feature--container li {
    color: #333333;
    font-size: 1.4rem;
  }
}

.about--container img, .feature--container img {
  order: 0;
}

.about--text {
  order: 1;
}

.work-method {
  background-color: #f2f2f2;
  padding-block: 1.5rem;
  margin-block-end: 0 !important;
}

.work-method h3 {
  font-weight: 700;
  text-align: center;
  font-size: 1.5rem;
}

.work-method--container {
  display: grid;
  align-items: center;
  grid-gap: 1.5rem;
  margin-bottom: 1.8rem;
}

@media (min-width: 40em) {
  .work-method--container {
    display: flex;
    flex-wrap: wrap;
  }
}

.work-method--card {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 1.5rem;
}

.work-method--card img {
  width: 100%;
}

.work-method--card h4 {
  margin: 0;
}

.work-method--card p {
  padding-inline: .8rem;
}

@media (min-width: 40em) {
  .work-method--card {
    width: 45%;
  }
}

@media (min-width: 64em) {
  .work-method--card {
    width: 32%;
  }
}

@media (min-width: 40em) {
  .work-method--card:last-child {
    margin-inline: auto;
  }
}

@media (min-width: 64em) {
  .work-method--card:last-child {
    margin-inline: 0;
  }
}

@media (min-width: 40em) {
  .work-method .last-row {
    margin-left: 0;
  }
}

@media (min-width: 64em) {
  .work-method .last-row {
    margin-left: 15rem;
  }
}

.analytics {
  background-image: url("../images/Skdata-breach-header-2_1.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-block: 2.5rem;
  margin-block: 0 !important;
}

.analytics--container {
  display: grid;
  grid-gap: 2rem;
}

@media (min-width: 40em) {
  .analytics--container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 64em) {
  .analytics--container {
    grid-template-columns: repeat(4, 1fr);
  }
}

.analytics--data {
  text-align: center;
}

.analytics--data h3 {
  color: #dddddd;
  margin-bottom: 0;
  font-size: 3rem;
}

.analytics--data p {
  color: #25c12d;
  font-size: 1.25rem;
  margin-bottom: 0;
}

.feature--container {
  line-height: 1.4em;
}

.feature--container img {
  order: 0;
}

@media (min-width: 40em) {
  .feature--container img {
    order: 1;
  }
}

.feature--text, #cybercrime .about--text {
  order: 1;
}

@media (min-width: 40em) {
  .feature--text, #cybercrime .about--text {
    order: 0;
  }
}

.feature--text-body h3 {
  font-weight: 700;
  font-size: 1.8rem;
  margin-bottom: 0;
}

.feature--text-body p {
  font-weight: 300;
  font-size: 1.3rem;
  margin-bottom: .5remn;
}

@media (max-width: 63.9375em) {
  .feature--text-body h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 39.9375em) {
  .feature--text-body {
    text-align: center;
  }
}

.clients {
  background-color: #f2f2f2;
  padding-block: 3rem;
}

@media (min-width: 40em) {
  .clients--container {
    grid-template-columns: repeat(7, 1fr);
  }
}

.testimonial h2 {
  margin-bottom: .5rem;
}

.testimonial .subHeader {
  text-align: center;
  margin-top: .5rem;
}

.testimonial--text {
  background-color: #f2f2f2;
  border-radius: 10px;
  padding-inline: 1rem;
  padding-block-start: 1.8rem;
  padding-block-end: 3rem;
  position: relative;
  min-height: 325px;
}

.testimonial--text::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f10e";
  display: block;
  font-size: 1.8rem;
  position: absolute;
  right: 20px;
  bottom: 15px;
  color: #d1d1d1;
}

@media (min-width: 64em) {
  .testimonial--container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }
}

.testimonial--author {
  display: grid;
  grid-template-columns: 115px 1fr;
  grid-gap: 1rem;
}

.testimonial--author img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  align-self: center;
  justify-self: center;
}

.testimonial--author-info {
  display: grid;
}

.testimonial--author-info .info {
  color: #666;
}

.banner {
  background-color: #f2f2f2;
  text-align: center;
  padding-block: 3rem;
}

.banner h2 {
  color: #000;
  margin-block: .5rem;
}

.banner h3 {
  font-weight: 300;
  font-size: 1.5rem;
}

.banner .text-green {
  color: #25c12d;
}

.banner .action-button {
  margin-top: 1.8rem;
  border-radius: 10px;
  text-transform: uppercase;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.2) 100%);
}

#cybercrime h2 {
  color: #000080;
}

#cybercrime .jumbotron {
  background-image: url("../images/crime_investigation_header.webp");
}

#cybercrime .jumbotron h2 {
  color: #dddddd;
  text-align: center;
}

@media (min-width: 40em) {
  #cybercrime .coloumn-5 {
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
  }
  #cybercrime .coloumn-5 img {
    width: 50%;
  }
  #cybercrime .coloumn-5 img:not(:last-child) {
    justify-self: end;
  }
  #cybercrime .coloumn-5 img:nth-last-child(2) {
    justify-self: center;
  }
}

@media (min-width: 40em) {
  #cybercrime .work-method--container {
    justify-content: center;
  }
}

@media (min-width: 64em) {
  #cybercrime .work-method--card {
    width: 30%;
  }
}

#cybercrime .work-method .last-row {
  margin-left: 0;
}

#cybercrime .feature--text h2, #cybercrime .about--text h2 {
  text-align: start !important;
}

#cybercrime .feature--text p, #cybercrime .about--text p {
  font-size: 1.5rem;
}

#cybercrime .feature--text li, #cybercrime .about--text li {
  list-style: none;
  position: relative;
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
  color: #000;
  font-weight: 400;
}

#cybercrime .feature--text li::before, #cybercrime .about--text li::before {
  content: "";
}

#cybercrime .feature--text li i, #cybercrime .about--text li i {
  font-size: 1.125rem;
  color: #25c12d;
  position: absolute;
  left: -35px;
  top: 5px;
}

#cybercrime .banner h2 {
  color: #333;
}

#cybercrime .banner h3 {
  font-weight: 500;
}

#cybercrime .banner .action-button {
  margin-top: 0;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.2) 100%);
}

#cybercrime .banner .action-button i {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.2) 100%);
  padding: 6px 10px;
  border-radius: 50%;
  border-color: white;
}

#cybercrime .testimonial--text {
  color: #000;
  font-size: 1.4rem;
}

#cybercrime .testimonial--author-info .info {
  font-size: .9rem;
}
/*# sourceMappingURL=cryptoCurrrecy.css.map */