@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  line-height: 1.4rem;
  overflow-x: hidden;
}

@media (min-width: 64em) {
  body {
    font-size: 1.125rem;
  }
}

.sticky {
  position: fixed !important;
  top: 0;
  width: 100%;
}

h1,
h2,
h3 {
  margin-top: 0;
  font-weight: 300;
  line-height: 1.15;
}

h1 {
  font-size: 2.31rem;
  margin-bottom: 1.5;
}

@media (min-width: 64em) {
  h1 {
    font-size: 1.25rem;
  }
}

h2 {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 1.5625rem;
}

@media (min-width: 64em) {
  h2 {
    font-size: 1.8rem;
    margin-bottom: 2.25rem;
  }
}

p {
  line-height: 1.5rem;
  margin-bottom: 2.25rem;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

section {
  padding-inline: 1rem;
  margin-block: 1.5rem;
  display: grid;
}

section .action-button {
  justify-self: center;
}

img {
  width: 100%;
}

hr {
  margin-block: 1.5rem;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.38);
}

.container {
  max-width: 75rem;
  margin: auto;
}

.container--pall {
  padding-top: 1.375rem;
  padding-bottom: 1.375rem;
  padding-right: 2.25rem;
  padding-left: 2.25rem;
}

.container--py {
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
}

@media (min-width: 64em) {
  .container--py {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.container--px {
  padding-right: 2.25rem;
  padding-left: 2.25rem;
}

.container--pt {
  padding-top: 4.375rem;
}

@media (min-width: 64em) {
  .container--pt {
    padding-top: 6rem;
  }
}

.container--py-1 {
  padding-block: 1rem;
}

@media (min-width: 64em) {
  .container--py-1 {
    padding-block: 1.2rem;
  }
}

.container--pr {
  padding-right: 1.5rem;
}

.container--pl {
  padding-left: 1.5rem;
}

.container--pb {
  padding-bottom: 4.375rem;
}

@media (min-width: 64em) {
  .container--pb {
    padding-bottom: 6rem;
  }
}

.flex {
  display: flex;
}

.flex-jc-sb {
  justify-content: space-between;
}

.flex-jc-c {
  justify-content: center;
}

.flex-ai-c {
  align-items: center;
}

button,
.btn {
  border: 0;
  cursor: pointer;
  font-weight: 600;
}

.action-button {
  padding: 1rem 1.5rem;
  background-color: #25c12d;
  color: white;
  text-transform: uppercase;
  border-radius: 50px;
  font-size: 1.125rem;
  transition: all 1s;
}

.action-button:hover {
  background-color: #18811e;
}

@media (max-width: 39.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

h2 {
  text-align: center;
  color: navy;
  text-transform: uppercase;
}

.arrowDown {
  position: absolute;
  bottom: -10px;
  left: 40px;
  width: 20px;
  height: 20px;
  background: inherit;
  transform: rotate(45deg);
}

.jumbotron {
  background-image: url("../images/Tcybercrime-3.webp");
  background-repeat: none;
  position: relative;
  line-height: 1.125rem;
  margin-block-end: 1rem;
  color: white;
}

.jumbotron .container {
  position: relative;
  z-index: 1;
}

.jumbotron--content {
  padding-block-start: 2rem;
  padding-block-end: 3rem;
}

.jumbotron--content h2 {
  font-weight: 900;
  color: white;
}

@media (min-width: 40em) {
  .jumbotron--content h2 {
    font-size: 2.5rem;
    text-align: start;
  }
}

@media (min-width: 64em) {
  .jumbotron--content {
    display: grid;
    grid-template-columns: 2fr 1.4fr;
    align-items: center;
    grid-gap: 1.5rem;
  }
}

.jumbotron--body-text {
  font-size: 1.4rem;
}

.jumbotron--form h2 {
  font-size: 1.3rem;
  text-align: center;
  font-weight: 900;
}

@media (min-width: 40em) {
  .jumbotron--form h2 {
    font-size: 1.6rem;
  }
}

.partners {
  padding-block-start: 1rem;
}

.partners--container, .clients--container {
  display: grid;
  justify-content: center;
  grid-gap: 1.5rem;
}

@media (max-width: 63.9375em) {
  .partners--container, .clients--container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}

@media (min-width: 40em) {
  .partners--container, .clients--container {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }
}

@media (min-width: 64em) {
  .partners--container, .clients--container {
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
  }
}

.offers--container {
  display: grid;
  justify-content: center;
}

@media (min-width: 40em) {
  .offers--container {
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
  }
}

.offers--coloumn:first-child p:last-child {
  border-block-end: 2px solid #25c12d;
}

.offers--coloumn:first-child p, .offers--coloumn:last-child p {
  font-weight: 600;
  padding-block: 1.5rem;
  text-align: center;
  border-block-start: 2px solid #25c12d;
  margin-bottom: 0;
}

@media (min-width: 40em) {
  .offers--coloumn:first-child p, .offers--coloumn:last-child p {
    padding-block: 3rem;
    border-block-end: none;
    text-align: start;
  }
}

.work-method {
  background-color: #f2f2f2;
  padding-block: 1.5rem;
}

.work-method h3 {
  font-weight: 700;
  text-align: center;
  font-size: 1.5rem;
}

.work-method--container {
  display: grid;
  align-items: center;
  grid-gap: 1.5rem;
  margin-bottom: 1.8rem;
}

@media (min-width: 40em) {
  .work-method--container {
    grid-template-columns: repeat(2, 1fr);
    align-items: initial;
  }
}

@media (min-width: 64em) {
  .work-method--container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.work-method--card {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 1.5rem;
}

.work-method--card img {
  width: 100%;
}

.work-method--card h4 {
  margin: 0;
}

.work-method--card p {
  padding-inline: .8rem;
  text-align: justify;
}

.about h2 {
  text-align: start;
}

.about img {
  width: 100%;
}

.about li {
  list-style: none;
  position: relative;
  font-size: 1.7rem;
  margin-bottom: 1.5rem;
}

.about li::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
  position: absolute;
  color: #25c12d;
  left: -42px;
}

@media (min-width: 40em) {
  .about--container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-gap: 1rem;
  }
  .about--container li {
    color: #333333;
    font-size: 1.4rem;
  }
}

.clients {
  background-color: #f2f2f2;
  padding-block: 3rem;
}

@media (min-width: 40em) {
  .clients--container {
    grid-template-columns: repeat(7, 1fr);
  }
}

.testimonial h2 {
  margin-bottom: .5rem;
}

.testimonial .subHeader {
  text-align: center;
  margin-top: .5rem;
}

.testimonial--text {
  background-color: #f2f2f2;
  border-radius: 10px;
  padding-inline: 1rem;
  padding-block-start: 1.8rem;
  padding-block-end: 3rem;
  position: relative;
}

.testimonial--text::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f10e";
  display: block;
  font-size: 1.8rem;
  position: absolute;
  right: 20px;
  bottom: 15px;
  color: #d1d1d1;
}

@media (min-width: 64em) {
  .testimonial--container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }
}

.testimonial--author {
  display: grid;
  grid-template-columns: 115px 1fr;
  grid-gap: 1rem;
}

.testimonial--author img {
  width: 100%;
  border-radius: 50%;
  align-self: center;
  justify-self: center;
}

.testimonial--author-info {
  display: grid;
}

.testimonial--author-info .info {
  color: #d1d1d1;
}

.banner {
  background-color: #f2f2f2;
  text-align: center;
  padding-block: 3rem;
}

.banner h2 {
  color: #000;
  margin-block: .5rem;
}

.banner .text-green {
  color: #25c12d;
}

.banner .action-button {
  margin-top: 1.8rem;
  border-radius: 2px;
  text-transform: uppercase;
  box-shadow: 0px 2px #187e1d;
}

.banner .action-button i {
  background-color: #1c8e22;
  border-radius: 50%;
  padding: .2rem .4rem;
  border: .5px solid green;
}

.footer-content {
  display: grid;
  text-align: center;
  grid-gap: 1rem;
  margin-bottom: 1.5rem;
}
/*# sourceMappingURL=index.css.map */