@import "global_imports";

h2 {
    text-align: center;
    text-transform: uppercase;
    color: $primaryHeading;
}

h4 {
    font-weight: 400;
}

.divider {
    border-color: rgb(37, 195, 45);
    border-top-style: solid;
    border-top-width: 6px;
    margin: 0px auto 1.3rem;
    width: 25%;
}

.arrowDown {
    position: absolute;
    bottom: -10px;
    left: 40px;
    width: 20px;
    height: 20px;
    background: inherit;
    transform: rotate(45deg);
}

nav {
    padding-top: 1rem;

    .nav-header {
        img {
            width: 100%;
        }
    }

    @include breakpoint-down(small) {
        display: grid !important;
        justify-content: center !important;
    }
}

.jumbotron {
    background-image: url('../images/Data_breach_header_1.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    line-height: $font-lg;
    margin-block-end: 1rem;
    color: $secondaryColor;
    margin-top: 0;

    .container {
        position: relative;
        z-index: 1;
    }

    &--content {
        padding-block-start: 2rem;
        padding-block-end: 3rem;

        h2 {
            font-weight: 900;
            color: $secondaryColor;

            @include breakpoint-up(medium) {
                font-size: 2rem;
                text-align: start;
            }
        }

        p {
            color: $secondaryColor;
            font-size: $font-xlg;
            line-height: 1.4;

            @include breakpoint-up(medium) {
                font-size: 1.6rem;
            }
        }

        @include breakpoint-up(large) {
            display: grid;
            grid-template-columns: 2fr 1.3fr;
            align-items: center;
            grid-gap: 5rem;
        }
    }

    &--body-text {
        p {
            margin-bottom: 0;
            font-weight: 300;
            font-size: 1.2rem;
        }

        li {
            position: relative;
            list-style: none;

            &::before {
                font-family: "Font Awesome 5 Free";
                position: absolute;
                content: "\f00c";
                font-weight: 900;
                color: $techForingGreen;
                font-size: 1.5rem;
                left: -40px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }



    &--form {
        h2 {
            font-size: 1.3rem;
            text-align: center;
            font-weight: 900;

            @include breakpoint-up(medium) {
                font-size: 1.6rem;
            }
        }
    }
}

.partners {
    padding-block-start: 1rem;

    &--container {
        display: grid;
        justify-content: center;
        grid-gap: 1.5rem;

        @include breakpoint-down(medium) {
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
        }

        @include breakpoint-up(medium) {
            grid-template-columns: repeat(3, 1fr);
            align-items: center;
        }

        @include breakpoint-up(large) {
            grid-template-columns: repeat(6, 1fr);
            align-items: center;
        }
    }
}

.offers {
    background-color: #f2f2f2;
    padding-block: 2rem;

    &--container {
        display: grid;
        justify-content: center;
        grid-gap: 2rem;

        @include breakpoint-up(medium) {
            grid-template-columns: 1fr 1fr 1fr;
        }

        img {
            justify-self: center;
            width: 100%;
        }
    }

    &--coloumn {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
    }

    &--card {
        display: grid;
        grid-template-columns: 1fr 6fr;
        align-items: start;
        grid-gap: 1rem;

        h4 {
            margin-block: 0;
            font-weight: 500;
            font-size: 1.3rem;
        }

        p {
            margin-block-start: 10px;
            margin-block-end: 1.2rem;
        }

        img {
            width: 60px;
        }
    }
}

.about {
    text-align: center;
    padding-block: 2.5rem;

    video {
        width: 100%;
    }

    &--text {
        @include breakpoint-up(large) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            grid-gap: 3rem;
        }
    }

    &--text-body {
        display: grid;
        grid-gap: 1rem;

        p {
            margin: 0;
            font-size: 1.5rem;
        }

        i {
            font-size: 2rem;
        }

        @include breakpoint-up(medium) {
            grid-template-columns: 35px 1fr;
            align-items: center;
        }
    }

    &--card-container {
        display: grid;
        grid-gap: 1.5rem;

        @include breakpoint-up(medium) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &--card {
        h4 {
            font-weight: 700;
            font-size: 2.5rem;
            margin-block-end: 0;
        }

        p {
            font-weight: 500;
            margin-block-end: 0;
        }
    }
}


.feature {
    @extend .about;

    &--container {
        display: grid;
        line-height: 1.4em;
        justify-content: center;

        img {
            order: 0;
        }

        @include breakpoint-up(medium) {
            grid-template-columns: 1fr 1fr;

            img {
                order: 1;
                justify-self: center;
            }
        }
    }

    &--text {
        justify-self: center;
        order: 1;

        li {
            list-style: none;
            position: relative;
            font-size: 1.3rem;
            margin-bottom: 1.5rem;
            font-weight: 500;
            text-align: start;

            &::before {
                font-family: "Font Awesome 5 Free";
                content: "\f00c";
                font-weight: 900;
                font-size: 1.5rem;
                position: absolute;
                color: $techForingGreen;
                left: -42px;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        @include breakpoint-up(medium) {
            order: 0;
        }
    }


}

.work-method {
    background-color: $grayBackground;
    padding-block: 1.5rem;

    h3 {
        font-weight: 700;
        text-align: center;
        font-size: 1.5rem;
    }

    &--container {
        display: grid;
        align-items: center;
        grid-gap: 1.5rem;
        margin-bottom: 1.8rem;

        @include breakpoint-up(medium) {
            grid-template-columns: repeat(2, 1fr);
            align-items: initial;
        }

        @include breakpoint-up(large) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &--card {
        display: grid;
        grid-gap: 1.5rem;
        text-align: center;

        img {
            width: 50px;
            margin-inline: auto;
        }

        h4 {
            margin: 0;
            font-weight: 600;
        }

        p {
            padding-inline: .8rem;
        }
    }
}

.clients {
    background-color: $grayBackground;
    padding-block: 3rem;

    &--container {
        @extend .partners--container;

        @include breakpoint-up(medium) {
            grid-template-columns: repeat(4, 1fr);
            align-items: center;
        }

        @include breakpoint-up(medium) {
            grid-template-columns: repeat(8, 1fr);
        }
    }
}

.testimonial {
    h2 {
        margin-bottom: .5rem;
    }

    .subHeader {
        text-align: center;
        margin-top: 0;
    }

    &--text {
        border-radius: $border-rounded;
        padding-inline: 1rem;
        padding-block-start: 1.8rem;
        padding-block-end: 3rem;
        position: relative;
        min-height: 325px;
        text-align: center;
    }

    &--container {
        @include breakpoint-up(large) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 1rem
        }
    }

    &--author {
        display: grid;
        grid-gap: 1rem;
        justify-content: center;
        text-align: center;
        border-bottom: 1px solid #f2f2f2;

        strong {
            font-size: 1.5rem;
        }

        img {
            width: 150px;
            height: 150px;
            border-radius: $border-circle;
            align-self: center;
            justify-self: center;
        }

    }

    &--author-info {
        display: grid;

        .info {
            font-weight: 400;
            font-style: italic;
        }
    }
}

.banner {
    background-color: $grayBackground;
    text-align: center;
    padding-block: 3rem;

    h2 {
        font-size: 1.6rem;
        color: #000;
        margin-block: .5rem;
    }

    h3 {
        font-weight: 300;
        font-size: 1.5rem;
    }

    .action-button {
        margin-top: 1.8rem;
        border-radius: 10px;
        text-transform: uppercase;
        background-image: none;
        font-size: 1.2rem;
        font-weight: 800;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.2) 100%);

        i {
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.2) 100%);
            padding: 6px 10px;
            border-radius: $border-circle;
            border-color: rgb(255, 255, 255)
        }
    }
}

.low-banner {
    h2 {
        font-size: 2rem;
        margin-block: .5rem;
    }

    p {
        font-size: 1.2rem;
        margin-block: 0;
    }

    .action-button {
        background-image: none;
        font-weight: 500;
        font-size: 1.5rem;
    }

    @include breakpoint-up(medium) {
        h2 {
            font-size: 2.5rem;
            margin-block: .3rem;
        }

        p {
            font-size: 1.6rem;
        }

        .action-button {
            font-size: 2rem;
        }

    }

}